body {
	margin: 0;
	padding: 0;
	background-color: #333;
}
.app {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 50px;
}
.gameBoardArena {
	display: grid;
	place-items: center;
	height: 100%;
	flex: 3;
}
.settingsPanelArena {
	flex: 1;
}
