// Основные стили для всей страницы
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--color-text: #353430;
	--color-border: black;
	--background-cloud: url('./images/cloud-light.svg');
	--cell-background: #444;
	--cloud-bg: rgb(131, 206, 224);
}

// Переменные для темной темы
.dark-theme {
	--color-text: white;
	--color-border: white;
	--background-cloud: url('./images/cloud-dark.svg');
	--cloud-bg: rgb(44, 62, 80);
	--cell-background: #cccaca;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: var(--color-text);
	font-family: 'Courier New', Courier, monospace;
}

.main {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	.game-container {
		padding: 2vmin;
	}

	#game-board {
		width: calc(4 * var(--cell-size) + 3 * var(--cell-gap));
		height: calc(4 * var(--cell-size) + 3 * var(--cell-gap));
		--cell-size: clamp(100px, 16.66vw, 20vmin);
		--cell-gap: 1vmin;
		position: relative;
		display: grid;
		grid-template-columns: repeat(4, var(--cell-size));
		grid-template-rows: repeat(4, var(--cell-size));
		gap: var(--cell-gap);
		border-radius: 1vmin;
		place-content: center;
		margin: 0 auto;
		z-index: 3;
	}

	#settings {
		display: flex;
		flex-direction: column;
		height: 60%;
		width: 40%;
		border: 2px solid var(--color-border);
		border-radius: 1vmin;
		padding: 10px;
		margin: 10px;
		z-index: 5;
		h1 {
			font-size: 30px;
			margin: 0 auto;
		}
	}
}

.cell {
	background-color: var(--cell-background);
	border-radius: 1vmin;
	opacity: 0.8;
}

.tile {
	--x: 0;
	--y: 0;
	position: absolute;
	top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
	left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--cell-size);
	aspect-ratio: 1 /1;
	border-radius: 1vmin;
	font-family: 'Courier New', Courier, monospace;
	font-size: 7.5vmin;
	font-weight: bold;
	background-color: hsl(25, 60%, var(--bg-lightness));
	color: hsl(20, 25%, var(--text-lightness));
	transition: 100ms;
	animation: show 200ms;
}

@keyframes show {
	0% {
		opacity: 0.5;
		transform: scale(0);
	}
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; // Убедитесь, что backdrop находится поверх всего контента
}

.popup {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1001; // Popup должен быть поверх backdrop
}

.modal {
	position: absolute;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	z-index: 1000; // Убедитесь, что модальное окно находится поверх других элементов
}
$duration: 120s;
$height: 10%;
#Clouds {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 100%;
	overflow: hidden;
	animation: FadeIn 3.1s ease-out;
	user-select: none;
	background-color: var(--cloud-bg);
	@keyframes FadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes Float {
		from {
			transform: translateX(100%) translateZ(0);
		}
		to {
			transform: translateX(-15%) translateZ(0);
		}
	}
	@keyframes FadeFloat {
		0%,
		100% {
			opacity: 0;
		}
		5%,
		90% {
			opacity: 1;
		}
	}
	.Cloud {
		pointer-events: none; /* Облака не будут реагировать на события мыши */
		position: absolute;
		background-image: var(--background-cloud);
		width: 100%;
		background-repeat: no-repeat;
		background-size: auto 100%;
		height: 70px;
		animation-duration: $duration;
		animation-iteration-count: infinite;
		animation-fill-mode: forwards;
		animation-timing-function: linear;
		animation-name: Float, FadeFloat;
		z-index: 3;
		.Foreground {
			height: $height;
			min-height: 20px;
			z-index: 5;
		}
		.Background {
			background-image: var(--background-cloud);
			height: $height / 1.1;
			min-height: 8px;
			animation-duration: $duration * 1.7;
		}
	}
	// Определение миксина для циклического создания стилей для облаков
	@mixin cloud-loop($delay, $i) {
		@if $i > 0 {
			.Cloud:nth-child(#{$i}) {
				animation-delay: $delay * $i;
				top: $i * 6%;
			}

			.Cloud.Foreground:nth-child(#{$i}) {
				animation-duration: $duration - ($i * 4);
				height: $height + ($i * 2.5);
			}

			.Cloud.Background:nth-child(#{$i}) {
				animation-duration: $duration * 1.25 - ($i * 4);
				height: ($height / 1.1) - ($i * 1.25);
			}

			// Рекурсивный вызов миксина
			@include cloud-loop($delay, $i - 1);
		}
	}

	// Инициализация миксина с начальными значениями
	@include cloud-loop(-($duration / 6.5), 10);
}
#sun-container {
	transition: transform 0.3s ease;
	position: absolute;
	top: 0%;
	left: 75%;
}
.sun-interaction-area {
	position: absolute;
	top: 49%;
	left: 50%;
	width: 90px;
	height: 90px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}
.stars-background {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
}
@keyframes twinkle {
	0%,
	100% {
		opacity: 1;
		scale: 1;
	}
	50% {
		opacity: 0.1;
		scale: 0.1;
	}
}

.stars {
	animation: twinkle 10s infinite;
	animation-delay: calc(
		-5s * var(--delay)
	); /* Случайная задержка для каждой звезды */
}
