* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7a7373;
  font-family: "Courier New", Courier, monospace;
}

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main .game-container {
  padding: 2vmin;
}
.main #game-board {
  width: calc(4 * var(--cell-size) + 3 * var(--cell-gap));
  height: calc(4 * var(--cell-size) + 3 * var(--cell-gap));
  --cell-size: clamp(100px, 16.66vw, 20vmin);
  --cell-gap: 1vmin;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, var(--cell-size));
  grid-template-rows: repeat(4, var(--cell-size));
  gap: var(--cell-gap);
  border-radius: 1vmin;
  place-content: center;
  margin: 0 auto;
}
.main #settings {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 40%;
  border: 2px solid black;
  border-radius: 1vmin;
  padding: 10px;
  margin: 10px;
}
.main #settings h1 {
  font-size: 30px;
  margin: 0 auto;
}
.main #settings .themes {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 1vmin;
  text-align: center;
}
.main #settings .themes ul {
  padding: 0;
  list-style-type: none;
}
.main #settings .themes ul li {
  display: inline-block;
  margin: 15px;
}
.main #settings .themes h2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0 10px;
  background-color: #7a7373;
}
.main #settings .themes .button_theme {
  width: max-content;
  padding: 10px;
  border-radius: 1vmin;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 1s;
}
.main #settings .themes .button_theme.dark {
  background-color: black;
  color: white;
}
.main #settings .themes .button_theme.dark:hover {
  background-color: white;
  color: black;
}
.main #settings .themes .button_theme.light {
  background-color: white;
  color: black;
}
.main #settings .themes .button_theme.light:hover {
  background-color: black;
  color: white;
}

.cell {
  background-color: #444;
  border-radius: 1vmin;
  opacity: 0.8;
}

.tile {
  --x: 0;
  --y: 0;
  position: absolute;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  aspect-ratio: 1/1;
  border-radius: 1vmin;
  font-family: "Courier New", Courier, monospace;
  font-size: 7.5vmin;
  font-weight: bold;
  background-color: hsl(25, 60%, var(--bg-lightness));
  color: hsl(20, 25%, var(--text-lightness));
  transition: 100ms;
  animation: show 200ms;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.modal {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  z-index: 1000;
}

@keyframes raindrop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100vh);
  }
}
.number-raindrop {
  position: absolute;
  z-index: -1;
  top: 0;
  font-family: "Arial", sans-serif;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.6;
}

#Clouds {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100%;
  overflow: hidden;
  animation: FadeIn 3.1s ease-out;
  user-select: none;
  background-color: rgb(117, 205, 227);
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Float {
  from {
    transform: translateX(100%) translateZ(0);
  }
  to {
    transform: translateX(-15%) translateZ(0);
  }
}
@keyframes FadeFloat {
  0%, 100% {
    opacity: 0;
  }
  5%, 90% {
    opacity: 1;
  }
}
#Clouds .Cloud {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 371.62 371.62'%3E%3Cpath fill='white' d='M62.513,153.087c-0.009-0.525-0.02-1.049-0.02-1.575c0-50.155,40.659-90.814,90.814-90.814 c43.222,0,79.388,30.196,88.562,70.643c8.555-4.789,18.409-7.531,28.91-7.531c32.766,0,59.328,26.562,59.328,59.328 c0,1.339-0.06,2.664-0.148,3.981c24.325,9.03,41.661,32.444,41.661,59.911c0,35.286-28.605,63.892-63.892,63.892H79.865 C35.757,310.921,0,275.164,0,231.056C0,192.907,26.749,161.011,62.513,153.087z'/%3E%3C/svg%3E");
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 70px;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: Float, FadeFloat;
  z-index: 1;
}
#Clouds .Cloud .Foreground {
  height: 10%;
  min-height: 20px;
  z-index: 3;
}
#Clouds .Cloud .Background {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 371.62 371.62'%3E%3Cpath fill='%231EA6C6' d='M62.513,153.087c-0.009-0.525-0.02-1.049-0.02-1.575c0-50.155,40.659-90.814,90.814-90.814 c43.222,0,79.388,30.196,88.562,70.643c8.555-4.789,18.409-7.531,28.91-7.531c32.766,0,59.328,26.562,59.328,59.328 c0,1.339-0.06,2.664-0.148,3.981c24.325,9.03,41.661,32.444,41.661,59.911c0,35.286-28.605,63.892-63.892,63.892H79.865 C35.757,310.921,0,275.164,0,231.056C0,192.907,26.749,161.011,62.513,153.087z'/%3E%3C/svg%3E");
  height: 9.0909090909%;
  min-height: 8px;
  animation-duration: 204s;
}
#Clouds .Cloud:nth-child(10) {
  animation-delay: -184.6153846154s;
  top: 60%;
}
#Clouds .Cloud.Foreground:nth-child(10) {
  animation-duration: 80s;
  height: 35%;
}
#Clouds .Cloud.Background:nth-child(10) {
  animation-duration: 110s;
  height: -3.4090909091%;
}
#Clouds .Cloud:nth-child(9) {
  animation-delay: -166.1538461538s;
  top: 54%;
}
#Clouds .Cloud.Foreground:nth-child(9) {
  animation-duration: 84s;
  height: 32.5%;
}
#Clouds .Cloud.Background:nth-child(9) {
  animation-duration: 114s;
  height: -2.1590909091%;
}
#Clouds .Cloud:nth-child(8) {
  animation-delay: -147.6923076923s;
  top: 48%;
}
#Clouds .Cloud.Foreground:nth-child(8) {
  animation-duration: 88s;
  height: 30%;
}
#Clouds .Cloud.Background:nth-child(8) {
  animation-duration: 118s;
  height: -0.9090909091%;
}
#Clouds .Cloud:nth-child(7) {
  animation-delay: -129.2307692308s;
  top: 42%;
}
#Clouds .Cloud.Foreground:nth-child(7) {
  animation-duration: 92s;
  height: 27.5%;
}
#Clouds .Cloud.Background:nth-child(7) {
  animation-duration: 122s;
  height: 0.3409090909%;
}
#Clouds .Cloud:nth-child(6) {
  animation-delay: -110.7692307692s;
  top: 36%;
}
#Clouds .Cloud.Foreground:nth-child(6) {
  animation-duration: 96s;
  height: 25%;
}
#Clouds .Cloud.Background:nth-child(6) {
  animation-duration: 126s;
  height: 1.5909090909%;
}
#Clouds .Cloud:nth-child(5) {
  animation-delay: -92.3076923077s;
  top: 30%;
}
#Clouds .Cloud.Foreground:nth-child(5) {
  animation-duration: 100s;
  height: 22.5%;
}
#Clouds .Cloud.Background:nth-child(5) {
  animation-duration: 130s;
  height: 2.8409090909%;
}
#Clouds .Cloud:nth-child(4) {
  animation-delay: -73.8461538462s;
  top: 24%;
}
#Clouds .Cloud.Foreground:nth-child(4) {
  animation-duration: 104s;
  height: 20%;
}
#Clouds .Cloud.Background:nth-child(4) {
  animation-duration: 134s;
  height: 4.0909090909%;
}
#Clouds .Cloud:nth-child(3) {
  animation-delay: -55.3846153846s;
  top: 18%;
}
#Clouds .Cloud.Foreground:nth-child(3) {
  animation-duration: 108s;
  height: 17.5%;
}
#Clouds .Cloud.Background:nth-child(3) {
  animation-duration: 138s;
  height: 5.3409090909%;
}
#Clouds .Cloud:nth-child(2) {
  animation-delay: -36.9230769231s;
  top: 12%;
}
#Clouds .Cloud.Foreground:nth-child(2) {
  animation-duration: 112s;
  height: 15%;
}
#Clouds .Cloud.Background:nth-child(2) {
  animation-duration: 142s;
  height: 6.5909090909%;
}
#Clouds .Cloud:nth-child(1) {
  animation-delay: -18.4615384615s;
  top: 6%;
}
#Clouds .Cloud.Foreground:nth-child(1) {
  animation-duration: 116s;
  height: 12.5%;
}
#Clouds .Cloud.Background:nth-child(1) {
  animation-duration: 146s;
  height: 7.8409090909%;
}

/*# sourceMappingURL=style.css.map */
